<app-header></app-header>
<h1>String Interpolation</h1>
<h2>{{ title }}</h2>
<h2>{{ displayNumber() }}</h2>

<h1>Property binding</h1>
<h3 [innerHTML]="'this text is displayed via property binding'"></h3>
<button [disabled]="isButtonDisabled">Test Button</button>

<h1>API call with event binding</h1>
<button (click)="displayArticle()">Click for Article</button>

<h1>Passing data with event binding</h1>
<label>Enter a Word:</label>
<input type="text" (input)="getInput($event)" />
<h2>{{ inputWord }}</h2>

<h1>Two way binding</h1>
<label>Enter a Word:</label>
<input type="text" [(ngModel)]="inputWord" />
<button (click)="displayWord()">Submit</button>
<h2>{{ inputWord }}</h2>

<h1>Exercise 1</h1>
<p>
  Create an input for username, username should be passed via event binding to
  the input and displayed with string interpolation. Button should be disabled
  if username is an empty string.
</p>
<label>Enter a Username:</label>
<input type="text" (input)="setUsername($event)" />
<p *ngIf="username">{{ username }}</p>
<p
  [ngStyle]="{ backgroundColor: 'red' }"
  [ngClass]="{ usernameClass: username }"
>
  Another paragraph styled with directive ngStyle
</p>
<button [disabled]="!username" (click)="username = ''">Reset Username</button>

<h1>Exercise 2</h1>
<p>
  Add a btn display details. Add a paragraph. Toggle display of paragraph via
  the btn. Log all btn clicks in an array and display that array under the
  paragraph. Starting at the 5th item, give a blue background and white font
  class.
</p>

<button (click)="displayBtn()">Display Details</button>
<p *ngIf="displayDetails">Here are the details you requested.</p>
<p
  *ngFor="let arrayItem of btnClicks; index as i"
  [ngClass]="{ colorClass: i >= 5 }"
>
  We have added an array item on button click: {{ arrayItem }}: {{ i }}
</p>

<h1>Exercise 3</h1>
<app-add-servers></app-add-servers>

<h1>Exercise 4</h1>
<app-game-control (startInterval)="onIntervalFired($event)"></app-game-control>
<app-odd *ngFor="let number of oddNums" [number]="number"></app-odd>
<app-even *ngFor="let number of evenNums" [number]="number"></app-even>
